<?xml version="1.0" encoding="utf-8"?>
<widget
xmins="http://www.w3.org/ns/widgets"
xmins:gap="http://phonegap.com/ns/1.0"
id="com.phonegap.web-resume"
version="1.0"

<name> wed-resume </name>
<description>
My web skills
</description>

<author href="http://www.mysite.com" email="thefreak1516@gmail.com">
Chasity Roberts
</author>

<preference name="orientation" value="default"/>
<preference name="target-device" value="universal"/>
</widget>
